<div class='panel' >
	<h4 class="subheader">This Site holds examples on the Usage of <a href='https://github.com/ankit8898/days_picker' target='_blank' >Days Picker</a> Library which is created by <a href='http://www.linkedin.com/pub/ankit-gupta/25/205/254' target='_blank'>Ankit Gupta</a></h4>

</div>
<a href='https://github.com/ankit8898' target='_blank' class='button small right'>Follow Ankit on Github <i class="fa fa-github-alt"></i></a>
<br/>
<br/>
<br/>