<h1 class="subheader">Example 2 <i class="fa fa-bookmark"></i></h1>
<%= form_tag by_years_path, method: :get, class: 'custom', remote: true do  %>
  <div class="row">
      <div class="large-6 columns">
      <label for="customDropdown1">Select a Day Type</label>
      <%= select_tag :type, options_for_select(DaysPicker.types, 'weekdays'), id: 'customDropdown1' %>
      <%= submit_tag 'Get Dates',class: "medium button success" %>
    </div>
    <div class="large-6 columns">
      <label for="customDropdown1">Select a Year</label>
      <%= select_tag :year, options_for_select(2009..2050, Date.today.year.to_s), id: 'customDropdown1' %>
    </div>
  </div>
<% end %>
